:root {
  --primarycolor: #6baddf;
  --secondarycolor: #01193f;
  --thirdarycolor: #d2b486;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.jumbotron {
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: var(--secondarycolor);
  color: white;
  padding-bottom: 3rem;
}

.list-group {
  margin-top: 13px;
}

#informationText {
  height: 35rem;
}

#landingPage {
  text-align: center;
}
